*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
!Kconfig
build/
include/config
include/generated

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
